
h1{
  color:#000107;
  text-shadow:rgb(194, 190, 193) 3px 2px 2px;
  text-decoration:solid  underline rgb(90, 227, 74) ; /*overline line-through*/
  text-underline-offset: 5px;

}

.qa-list dt {
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 20px;
  color: #2d3436;
}
.qa-list dd {
  font-size:1.3rem;
  margin-left: 5px; /* Removes the default indentation */
  padding-left: 20px;
  border-left: 2px solid #155ba2; /* Adds a visual vertical line for the answer */
  margin-bottom: 30px;
  color: #181c1d;
  background-color:#f4f4f4;
}

.qa-list pre {
  background: #f1eeee;
  padding: 10px;
  border-radius: 5px;
}

.qa-mark { 
  color: rgb(187, 3, 25);
  font-size:2.1rem;
  font-weight: bold;
}

.qa-number{
   color:rgb(10, 190, 61);
   font-size:1.3rem;
}

.a-bullet{
   color:rgb(10, 190, 61);
   font-size:1.8rem;

}
.sub-title{

color:rgb(4, 124, 38);
   font-size:1.3rem; 
   font-weight:bold; 
}