/* Styling CV page */
/* Use border-box in all elements. */
*
{
  box-sizing: border-box;
}


.main-header{
      text-align:center; /*enter address link with image for more orgnized  apperance */
      line-height: .5; /* reduce line hegith to reduce space reserved for image and header section*/
      text-decoration: none;
      word-spacing: -3px; /* reduce space between words to bring elements to the center*/
      letter-spacing: -0.5px; /* reduce space between letters to bring elements to the center*/
       font-style:none;

}

 body
   {
     font-family: "Source Code Pro", monospace,Arial, Helvetica, sans-serif; /* Use Google Font for modern monospace look and font stack as backup fonts */
     font-size: 16px; /* Set a base font size */
     margin:2rem;
     padding:2rem;
     color: #010301; /* black color for the text */
     background-color:#fdfcfc;  /* Set light silver color for  background  appearance */
     border:2px solid #e8ece8; /* add a solid border with ligth color */

}  
h1{
    font-size:2.0rem;/* set large outstanding color for h1*/
    text-align:center; /* align text to center*/
    text-shadow:3px 3px 5px rgba(83, 91, 101, 0.7); /* add drop shadow effect */
    

}
h2{

    font-size:1.6rem; /* sat a moderate font size revelent to view port*/
    font-weight:600;/* make it slightly bolder for differentiation*/
    text-transform:uppercase; /* transform text to uper case*/
}
h3
{
  font-size: 1.2rem; /* A size between h1 and p */
}
/* add padding below headers clear layout */
h1, h2, h3
{
  padding-bottom: 1rem;
}
p,li, table, form /* set unified fnot size for  li, table, form*/
{
  font-size: 1rem;
}

a
{
  text-decoration: none; /* Removing default underline from links */
  color: #0c06d2; /* A slightly lighter shade for links for better distinction */
}
a:visited{
       color:rgb(69, 78, 145); /* light blue  color for visited link to differentiate  visted link */
      text-decoration: none;

}

/* Separate sections with margins to utilize collapsing margins. Also, use borders to space them apart. */
main section,
footer section
{
  margin: 4rem 0;
  border-top: 2px solid #e1e2e8;
}

/* Adjust form elements to capture same look and feel. */
form input,
form textarea,
form select
{
  margin: 0.3rem 0.3rem; /*add margin  set space between from elements */
  padding: 0.2rem 0.2rem;/*add margin  set space between from elements */
  color: #120101;
  border: 2px dotted #dddfdd;
  background-color: #f4f7fa;
}
form fieldset
{
  border: none;
}

form button
{
  padding: 0.5rem 1rem;
  color: #090a09;
  border: 2px solid #e1e5ef;
  background-color: #d2eaf5;
}

/* Remove outlines from form elements, ensuring a cleaner look. */
form input,
form textarea
{
  outline: none;

}

/* Make the profile picture rounded, and add a border. */
.main-header img 
{
  border-radius: 50%;
}







